# Ignore WordPress core and default themes
/wp-admin/
/wp-includes/
/wp-content/themes/twentytwenty*/
/wp-content/plugins/hello.php
/license.txt
/readme.html
/wp-config-sample.php

# Ignore everything in wp-content except WP Recipe Maker plugin
wp-content/*
!wp-content/plugins/
!wp-content/plugins/wp-recipe-maker/
!wp-content/themes/
!wp-content/themes/astra-child/
!wp-content/themes/astra-child/**/*


# Ignore common OS / IDE clutter
.DS_Store
node_modules/
vendor/
.env
*.log
*.zip

# Ignore uploads if you don’t want media in Git
wp-content/uploads/
