.ast-mobile-header-wrap .ast-below-header-bar {

    @media screen and (max-width: 544px) {
        min-height: 95px !important;
    }

}
.ast-below-header-bar .ast-builder-grid-row {
    grid-template-columns: 93% 5%;

    :where(
        .site-header-below-section-left,
        .ast-main-header-bar-alignment,
        .main-navigation,
        .ast-builder-menu-1
    ) {
        width: 100%;
    }

    .ast-main-header-bar-alignment {
        margin-left: 0px;
    }

    .main-navigation > ul {
        justify-content: space-between;
        width: 100%;
    }

    .ast-builder-menu-1 .menu-item > .menu-link {
        padding-right: 5px;
    }
}