/*---------featured post feed on homepae----------*/


/*space after title*/

h2#h-true-passion-for-outdoor-cooking {
    padding-bottom: 1rem;
}


/*wrapper alignment*/

.astra-advanced-hook-7116 {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0 20px;
}

@media (max-width: 1200px) {
    .astra-advanced-hook-7116 .wp-block-columns,
    .astra-advanced-hook-7116 .wp-block-colum {
        margin: 0;
    }
}


/*column height*/

.astra-advanced-hook-7116 .uagb-post__items.uagb-post__columns-3.is-grid.uagb-post__columns-tablet-2.uagb-post__columns-mobile-1.uagb-post__equal-height {
    /*min-height: 35rem;*/
}


/*post title margin*/

.astra-advanced-hook-7116 .uagb-post__title {
    /*margin-top: 3rem;*/
    margin-bottom: 0;
}


/*hide 2nd text box*/

.astra-advanced-hook-7116 .uagb-post__text:last-of-type {
    display: none;
}


/*align text bottom*/

.astra-advanced-hook-7116 .uagb-post__text {
    margin-top: 125%;
}


/*background gradient*/

.astra-advanced-hook-7116 .uagb-post__image:before {
    background-color: transparent !important;
    opacity: 1 !important;
    background-image: linear-gradient(9deg, black, rgba(0, 0, 0, 0.69), transparent, transparent, transparent) !important;
}


/*don't stretch featured post background*/

.uagb-post__image-position-background .uagb-post__image img {
    height: 101% !important;
}

h1#h-true-passion-for-outdoor-cooking {
    font-size: 2em;
    font-weight: 400;
    font-family: roboto slab, serif;
}


/*----END----*/


/*header gradient*/

.ast-below-header-bar {
    background-color: #3d3d3d;
    background-image: linear-gradient(0deg, #222222, transparent);
}


/*search icon color expanded*/

.ast-search-menu-icon.ast-dropdown-active .ast-search-icon a.slide-search.astra-search-icon {
    color: #3d3d3d !important;
}


/*jump injection*/

#jumps a {
    color: #cc6633;
    text-transform: capitalize;
}

p#jumps {
    font-size: .9rem;
    color: #3d3d3d;
}

#jumps a:hover {
    color: #3d3d3d;
}


/*------Sidebars-----*/


/*set min width for sidebars per MEDIAVINE*/

@media only screen and (min-width: 1200px) {
    .ast-right-sidebar #primary {
        max-width: calc(100% - 360px);
    }
    .ast-right-sidebar #secondary {
        min-width: 360px;
    }
}


/*set height for mailerlite forms ⁠— CLS fix*/

#mailerlite_widget-8,
#mailerlite_widget-7,
#mailerlite_widget-9 {
    min-height: 600px;
    background-color: #cc6633;
}

#secondary {
    line-height: 1.5;
}

.monsterinsights-widget-popular-posts.monsterinsights-popular-posts-styled.monsterinsights-widget-popular-posts-alpha .monsterinsights-widget-popular-posts-list li {
    border-radius: 0 !important;
}


/*homepage UBF blurb*/

#text-11 {
    font-size: .8rem;
    line-height: 1.25rem;
}


/*-----AS-SEEN-IN-----*/

.blocks-gallery-grid .blocks-gallery-image,
.blocks-gallery-grid .blocks-gallery-item,
.as-seen-in .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
    margin: .5em 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    position: relative;
    align-self: flex-start;
    width: calc(33.33333%
    /* - .66667em*/
    ) !important;
    Flex-grow: revert !important;
}

.as-seen-in ul.blocks-gallery-grid {
    align-items: center !important;
    justify-content: center !important;
}

.as-seen-in {
    margin: auto !important;
}

aside#block-3 {
    margin-bottom: 1rem;
}

aside#block-4 {
    margin-bottom: .5rem;
}


/*---END---*/


/*------MAIN MENU SUB-MENUS----*/

.sub-menu {
    background-color: #3d3d3d !important;
}


/*-----FOOTER-----*/


/*contact menu*/

section#nav_menu-7 ul>li {
    display: inline-block;
    margin: 0 .5rem;
    font-size: .9rem;
}

.footer-widget-area[data-section=section-footer-menu] .astra-footer-horizontal-menu {
    justify-content: center;
}


/*---END---*/


/*-----DIVIDERS-----*/

.ast-archive-description {
    border: none;
    padding: 0;
}

.ast-right-sidebar #primary,
.ast-right-sidebar #secondary,
.blog-layout-1 {
    border: none;
}


/*---END---*/


/*----BLOG FEED----*/

img.attachment-large.size-large.wp-post-image {
    width: 780px;
}

span.dashicons-tag.dashicons {
    display: none;
}

.uagb-post-grid .uagb-post-grid-byline {
    letter-spacing: 0;
}

.uagb-post-grid .is-grid article {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


/*---END---*/


/*-----BROWSE-----*/

.uagb-tabs__wrap.uagb-tabs__hstyle5-tablet .uagb-tab.uagb-tabs__active {
    border-bottom: 1px solid white;
}

.uagb-tabs__wrap.uagb-tabs__hstyle5-desktop.uagb-tabs__vstyle6-tablet.uagb-tabs__vstyle6-mobile.uagb-active-tab-2 {
    margin: 0;
    padding: 0;
}

.uagb-tabs__wrap .uagb-tabs__body-container {
    padding: 0;
}

.uagb-tabs__wrap.uagb-tabs__hstyle5-desktop {
    Margin: 1rem 0;
}

ul.uagb-tabs__panel.uagb-tabs__align-center span {
    font-weight: bold !important;
    letter-spacing: .5;
    text-transform: uppercase;
}


/*display tabs as wrapping list*/

li.uagb-tab {
    max-width: fit-content !important;
}

li.uagb-tab {
    max-width: fit-content !important;
    padding: 0 .5rem !important;
    margin: .25rem !important;
}

ul.uagb-tabs__panel.uagb-tabs__align-center {
    display: inline !important;
    margin-bottom: 1rem !important;
}

article#post-7247 {
    min-height: 1vh;
}


/*---END---*/


/*-----HEADER MOBILE-----*/

.site-header-primary-section-center.site-header-section.ast-flex.ast-grid-section-center {
    background-image: linear-gradient(0deg, black, #3d3d3d);
}


/*-------CONTACT FORM------*/


/*submit confirmation*/

.wpforms-confirmation-container-full,
div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
    background: #f4f4f4;
    border: none;
}


/*------read more------*/

.uagb-post__cta {
    text-transform: uppercase;
}


/*----page numbers----*/

a.page-numbers {
    background-color: white !important;
}

span.page-numbers.current {
    background-color: white !important;
}


/*--END--*/


/* Grillseeker Tip Styling -- adds grill icon for screens bigger than 600px*/


/*@media only screen and (min-width:600px) {*/

#gstip {
    padding-left: 130px !important;
    background-image: url(https://www.grillseeker.com/wp-content/uploads/2019/08/GS-Grill-Icon-100px.png);
    background-repeat: no-repeat;
    border-left-color: transparent !important;
    background-color: transparent !important;
    background-position: left center;
    margin: 50px 0;
}


/*--END--*/


/*correct screen size for 404 page on desktop*/

.astra-advanced-hook-7162 {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px;
}


/*--END--*/


/* Figcaption styling for Thermoworks cow */

.cow figcaption {
    font-size: small;
}


/* END */


/********************************
 * JUMP TO RECIPE 01/13/22
 * *****************************/


/*turn links into buttons*/

a.wprm-recipe-link {
    background-color: #bfbfbf33;
    color: #333333;
    padding: 13px;
    font-size: 15px;
    white-space: nowrap;
    line-height: 4rem;
    @media(min-width: 768px) {
        padding: 1rem;
        font-size: 17px;
    }
}

#recipe-jump-wrapper a.wprm-recipe-link {
    margin: .5rem;
}

#recipe-jump-wrapper {
    padding: 1rem 0 .75rem;
}


/* END */


/********************************
 * FONT SIZE ON MOBILE 01/19/22
 * *****************************/

@media screen and (max-width: 600px) {
    .mobile-hide-logo {
        display: none !important;
    }
    html,
    p {
        font-size: 19px;
        line-height: 1.6;
    }
    h1 {
        font-size: 2rem !important;
    }
    h2 {
        font-size: 1.5rem !important;
    }
    h3 {
        font-size: 1.25rem !important;
    }
    #recipe-jump-wrapper a {
        font-size: .75rem;
    }
    #recipe-jump-wrapper {
        text-align: center;
    }
    #gstip {
        padding: 100px 0 0 0 !important;
        border-left: 0 solid white;
        text-align: center;
        background-image: url(https://www.grillseeker.com/wp-content/uploads/2019/08/GS-Grill-Icon-100px.png);
        background-repeat: no-repeat;
        border-left-color: transparent !important;
        background-color: transparent !important;
        background-position: center top;
        margin: 2rem 0;
    }
    .wp-block-group {
        padding: 0 !important;
    }
}


/* pagination styles */

@media (min-width: 993px) {
    .ast-pagination {
        padding-left: 0;
        padding-right: 0;
    }
}

.ast-pagination .page-numbers.current {
    color: #c63;
    font-weight: bold;
    text-decoration: underline;
}


/** Update comment form styles */

.comment-form-email.ast-grid-common-col.ast-width-lg-33.ast-width-md-4.ast-float,
.comment-form-author.ast-grid-common-col.ast-width-lg-33.ast-width-md-4.ast-float {
    width: 50% !important;
}

.comment-form-url.ast-grid-common-col.ast-width-lg-33.ast-width-md-4.ast-float {
    display: none;
}

@media (min-width: 922px) {
    #primary {
        width: 100%;
    }
}